
<div class="customer_details">
  <% if customer.image.attached? %>
    <%= image_tag url_for(customer.image), alt: "#{customer.full_name}'s image", class: "customer_image" %>
  <% end %>
  <p><strong>Name:</strong> <%= customer.full_name %></p>
  <p><strong>Email:</strong> <%= customer.email_address %></p>
  <p><strong>Phone:</strong> <%= customer.phone_number %></p>
</div>
