div#customer_list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

div.customer_details {
  background-color: #e4e7ea;
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  border: rgb(146, 146, 146) 1px solid;
}

img.customer_image {
  max-height: 200px;
  max-width: 150px;
  border-radius: 5px;
}